*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    width: 100vw;
    height: 100vh;
}
.error{
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: #ffffff;
    border-radius: 20px;
    position: absolute;
    top: -60px;
    left: 0;
    right: 0;
    margin: 0 auto;
    transition: .7s;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container__form{
    width: 335px;
    display: grid;
    justify-items: center;
    gap: 10px;
    border: 5px solid #fff300;
    padding: 10px;
    border-radius: 20px;
}
.container__languages{
    width: 300px;
    display: flex;
    justify-content: space-evenly;
}
.container__input{
    width: 220px;
    height: 30px;
    border: none;
    border-bottom: 1px solid #000;
    background-color: inherit;
    outline:none;
    padding-left: 10px;
    cursor: pointer;
}
#submitBtn{
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff900d4;
}
.resetBtn{
    width: 200px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid #000;
}
input:-webkit-autofill {
    box-shadow: inset  0 1px 4px 0 #ffffff;
    -webkit-box-shadow: /* inset  0 1px 4px 0 #ffffff, */ /* Внутренняя тень */
                        inset 0 0 0 50px #ffffff, /* Цвет фона */
                        0 1px rgba(255, 255, 255, 0.06) !important; /* Наружная тень */
    -webkit-text-fill-color: rgb(0, 0, 0) !important;}
.container__titleH1{
    font-size: 24px;
}
.container__box{
    width: 280px;
    display: flex;
}
.container__box>.container__titles{
    margin-right: 20px;
}
.container__p{
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: start;
}